html{
    background-color: black;
}
.white{
    background-color: #FFFFFF;
    width: 900px;
    height: 600px;
    position: relative;
    left: 300px;
    top: 60px;
}
.saffron{
    background-color: #FF671F;
    height: 200px;
    width: 100%;
    margin: 0px;
    position: absolute;
}
.green{
    background-color: #046A38;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 400px;

}
.chakra{
    height: 200px;
    width: 100%;
    position: absolute;
    top: 200px;
}
.chakra > img{
    position: absolute;
    left: 350px;
    margin: 0px;
}
